@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-font: "Inter", sans-serif;
}

body{
    font-family: var(--primary-font);
    background-color: #FFFCFB;
}

.bg-primary{
    color: white;
    background-color: #093FB4;
}

.fw-600{
    font-weight: 600;
}

.my-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-container{
    color: white;
    background-color: #093FB4;
}
